layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="saidecar" {
        pane split_direction="vertical" {
            pane {
                cwd "."
                command "C:\\Program Files\\nodejs\\node.exe"
                args "bin\\saidecar.js"
            }
            pane size="42%" {
                cwd "."
                command "C:\\Program Files\\nodejs\\node.exe"
                args "bin\\saidecar-logs.js"
            }
        }
    }
}
